body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: coral;
}


/* Header */

.block {
    text-align: center;
    background-color:red ;
    color: rgb(187, 238, 46);
    border-radius: 0;
    border-bottom: 10px solid black;
    margin-bottom: 0px;
    padding: 32px 32px;
    background-color: rgb(8, 8, 8);
}

.lead {
    margin-top: 20px;
}

#currentDay {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}


/* timeblock */

.timearea {
    margin-top: 0px;
    padding: 30px 60px;
}

.row {
    white-space: pre-wrap;
    height: 70px;
    padding: 0 60px;
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div span {
    font-size: 18px;
}

.col-1 {
    border: 2px solid white;
    padding: 0px;
}

.time {
    border-radius: 8px;
    font-weight: 700;
    background-color: rgb(27, 26, 26);
    font-style: italic;
    color: rgb(235, 226, 226);
}

.col-10 {
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div textarea {
    border: none;
    resize: none;
    cursor: pointer;
    height: 50px;
}



.row div button:hover {
    transform: scale(0.95);
}


/* responsive color */

.past {
    background-color: #bccaac;
    color: black;
    font-weight: 600;
}

.present {
    background-color: #61b3ff;
    color: black;
    font-weight: 600;
}

.future {
    background-color: #1dd61d;
    color: black;
    font-weight: 600;
}